@using WerewolfKill.Models
@model LoginViewModel
@{
    ViewBag.Title = "登陆";
}

<h2>@ViewBag.Title</h2>
<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-lg-3 control-label" })
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-lg-3 control-label" })
            <div class="col-lg-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <input type="submit" value="提交" class="btn btn-default" />
            </div>
        </div>
        <lable class="col-lg-3">
            <p>
                @Html.ActionLink("注册新用户", "Register")
            </p>
        </lable>
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("忘记密码?", "ForgotPassword")
            </p>*@
    }
</section>
@*<div class="col-lg-3">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}